# Linux scripts - they need to have Linux line endings or Docker barfs
*.bash text eol=lf
*.sh text eol=lf

# binary files - their diffs choke git
*.png binary
*.pdf binary
*.html binary
*.epub binary
