# Local project-specific files.
dev_environment.csv

# RStudio files
.Rhistory
.RData
.Ruserdata
.Rapp.history
.Rhistory
.Rproj.user

# Generated data
*.zip
*.tar
data/

# Mac OS X system files
.DS_Store
r-database-docker/.DS_Store
