# Local project-specific files.
dev_environment.csv

# RStudio files
.Rhistory
.RData
.Ruserdata
.Rapp.history
.Rhistory
.Rproj.user

# Generated data
*.zip
*.tar
*.log
*.tex
*.rds
data/

# Bookdown intermediate files
_bookdown_files

# Mac OS X system files
.DS_Store
