# Local project-specific files.
dev_environment.csv

# RStudio files
.Rhistory
.RData
.Ruserdata
.Rapp.history
.Rhistory
.Rproj.user

# Generated data
*.zip
*.log
*.tex
*.rds
data/
adventureworks/

# Bookdown intermediate files
_bookdown_files

# Mac OS X system files
.DS_Store

# .bib backup files
*.bib.bak
